body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.home-div {
  padding: 0;
  margin: 0;
}

header {
  background-color: #0a2647;
  border-bottom: 0.5px solid #89c4e2;
}
.header-top-strip {
  background-color: #89c4e1;
}

.top-header {
  background-color: #89c4e2;
  height: 40px;
  display: flex;
  justify-content: space-between;

  padding-top: 10px;
}

.exp-width {
  width: 100vw;
  margin-left: -50px;
}
.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #89c4e2;
  font-weight: bold;
}

.nav-link:focus {
  color: #fff;
}

.logo {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Parisienne', sans-serif;
  font-size: 35px;
  letter-spacing: 3px;
}

.logo:focus {
  color: #fff;
}

.badge {
  border-radius: 20px;
}

.cat-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 12px;
  padding: 5px;
  font-weight: bold;
  background-color: #0a2647;
}
.cat-button:hover {
  color: #0a2647;
  background-color: #89c4e2;
  border-radius: 10px;
}

.cat-button:active {
  color: #89c4e2;
}

.cat-sidebar {
  border: none;
  margin-left: 70px;
  font-weight: bold;
  padding: 3px 12px;
}

.cat-sidebar:hover {
  color: #0a2647;
  background-color: #89c4e2;
}

.dropdown-ul {
  background-color: #0a2647;
  width: 240px;
}

.dropdown-cats {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  color: #fff;
  border-bottom: 1px solid #89c4e2;
}

.dropdown-cats:hover {
  color: #0a2647;
  background-color: #89c4e2;
}
.menu {
  margin-right: 20px;
}

.search {
  border: 0.5px solid #89c4e2;
}

.bottom-nav {
  display: flex;
  justify-content: center;
}

.search-hg {
  border: 1px solid #89c4e2;
  margin-left: 5px;
  color: #000;
  background-color: #fac213;
}

.search-hg:hover {
  color: #0a2647;
  background-color: #89c4e2;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  background-color: #0a2647;
  border: none;
}

.button:hover {
  background-color: #89c4e2;
  color: #0a2647;
}

.product-screen-button {
  background-color: #0a2647;
  border: none;
  font-weight: bold;
}

.product-screen-button:hover {
  background-color: #89c4e2;
  color: #0a2647;
  border: none;
  font-weight: bold;
}

/* .btn-primary {
  background-color: #f0c040;
  color: #000000;
} */
.btn-primary,
.btn-outline-primary {
  background-color: #0a2647;
  color: #fff;
}
.products {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #fac213;
}

.product {
  border: 1px #ededed solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 500px;
  max-height: 300px;
  object-fit: contain;
  overflow: hidden;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 90%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

.gap-7 {
  gap: 7px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid grey;
  color: grey;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #fac213;
  color: #fac213;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.navbar-brand:hover {
  color: #89c4e2;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #0a2647;
  transition: 0.5s;
  z-index: 10;
}

.sidebar-navlink {
  background-color: #0a2647;
  border-bottom: 1px solid #89c4e2;
}

.sidebar-navlink:hover {
  color: #0a2647;
  background-color: #89c4e2;
  font-weight: bold;
}

.d-cats {
  background: #0a2647;
  padding: 10px 10px;
  width: 240px;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
  margin-bottom: 0;
  color: #89c4e2;
}

.search-box {
  width: 400px;
}

.text-bold {
  font-weight: bold;
}

.socialmedia {
  display: flex;
  flex-direction: row;
}

.socialmedia img {
  width: 80%;
}

.sb_footer-links_div h4 {
  font-size: 18px;
  line-height: 17px;
  margin-bottom: 0.9rem;
}

.sb_footer-copyright p {
  font-size: 13px;
  line-height: 15px;
  color: #89c4e2;
  font-weight: 600px;
}

@media screen and (max-width: 850px) {
  .sb_footer-heading h1 {
    font-size: 44px;
    line-height: 50px;
  }
}

@media screen and (max-width: 550px) {
  .sb_footer-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
  .sb_footer-links div {
    margin: 1rem 0;
  }

  .sb_footer btn p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .sb_footer-heading h1 {
    font-size: 21px;
    line-height: 38px;
  }
}

.aboutus-one {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

.h2-one {
  align-items: center;
}
.image-one {
  border-radius: 10px;
}

.aboutus-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

textarea {
  border: 1px solid lightgrey;
}

.categories > div {
  width: 25%;
  padding: 10px 10px 10px 20px;
}
.categories > div > div {
  width: 60%;
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid lightgray;
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3) {
  border-right: 1px solid lightgray;
}
.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid lightgray;
}
